@model WebAppPedido.Areas.Gerente.Models.Produto


<div class="modal-header">
    <h5 class="modal-title">Detalhes do produto</h5>
    <div style="text-align: left;">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
    </button>
    </div>
</div>
<div class="modal-body">
    <div>
        <dl class="row">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.UsuarioAlteracao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioAlteracao)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataAlteracao)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.UsuarioCriacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioCriacao)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.DataCriacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataCriacao)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.RegistroAtivo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegistroAtivo)
            </dd>
        </dl>
    </div>
</div>